<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nom:</label>
      <div class="col-sm-10">
        <input type="nom" class="form-control" id="email" placeholder="Enter Nom">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Prénom:</label>
        <div class="col-sm-10">
          <input type="prénom" class="form-control" id="email" placeholder="Enter Prénom">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Sexe:</label>
      <div class="col-sm-offset-2 col-sm-10">
        <div class="radioOptions">
          <label class="container">Homme
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">Femme
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container">Non présise
              <input type="radio" name="radio">
              <span class="checkmark"></span>
              </label>
        </div>
      </div>
    </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
      </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Adresse:</label>
        <div class="col-sm-10">
          <input type="adresse" class="form-control" id="email" placeholder="Enter adresse">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Ville:</label>
        <div class="col-sm-10">
          <input type="ville" class="form-control" id="vile" placeholder="Enter Ville">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Code Postal:</label>
        <div class="col-sm-10">
          <input type="code_postal" class="form-control" id="vile" placeholder="Enter Code Postal">
        </div>
      </div>
    
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="" class="btn btn-default">S'inscrire </button>
        <button type="" class="btn btn-default"> Annuler</button>
      </div>
    </div>
    
    
  </form>